<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ryan Saunderson</title>
</head>
<body>
    <!-- This is the header section of my personal website. -->
    <h1>A little about myself...</h1>
    <h2>My name is <em>Ryan Saunderson</em></h2>
    <h2><strong>Senior Finance and Information Systems</strong> dual degree student</h2>
    <p>In my free time, I enjoy going for <strong>runs, walks, working out, and reading.</strong></p>
    <p>I also enjoy hanging out with my roommates and spending time with my family.</p>
    <!-- The following is a list of my favorite course at UMD. -->
    <p>My favorite classes:</p>

    <ul>
            <li>BMGT484</li>
            <li>BMGT403</li>
            <li>BMGT402</li>
    </ul>

    <!-- The following code helps build a list of my favorite sports teams. -->
    <p><strong>My favorite sports teams:</strong></p>

    <ol>
            <li><em>Mavericks</em></li>
            <li><em>Canelo the Cats</em></li>
        <li><strong>Ravens</strong></li>
    </ol>

    <p>A link to the <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwjA8KzuvrqEAxWnFFkFHbuOAGkQFnoECAYQAQ&url=https%3A%2F%2Fwww.baltimoreravens.com%2F&usg=AOvVaw0WfSzjJizysjnxTqMLFf5u&opi=89978449">Ravens Website</a>.</p>
    <p>A link to the <a href="https://www.mavs.com" target="_blank">Mavericks Website</a>.</p>

    <table>
            <tr>
                    <th>Course</th>
                    <th>Semester</th>
            </tr>
            <tr>
                <td>BMGT403</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT402</td>
                <td>Fall 2023</td>
            </tr>
            <tr>
                <td>BMGT407</td>
                <td>Spring 2024</td>
            </tr>
    </table>

    <p>Here is a picture of the Smith logo. Click to go to the Smith website.</p>
    <a href="https://rhsmith.umd.edu" target="_blank"><img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo"></a>
</body>
</html>